<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  align-self: center;
  text-align: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body style = "background-color: pink;">
  <h1 align="center" style="background-color:DodgerBlue">Decarbonizing India's Road Transport</h1>
  <p style="color: blue;"> The transport sector is a significant contributor to the global energy demand and associated emissions. Countries worldwide have been devising strategies to mitigate emissions from this sector. In India, although the transport sector accounts for less than a fifth of India’s final energy use and almost 11 per cent of India’s energy sector related carbon dioxide emissions, its emissions are growing at a faster rate compared to other sectors. As India’s economic growth accelerates, emissions from this sector are expected to grow at an even faster pace</p>

  <p style="color: blue;">    India’s transportation services are crucial to its future growth, given its close linkage to infrastructure development and manufacturing. Hence, to continue its developmental trajectory while balancing its climate goals, India needs policies that emphasise a sustainable and low-carbon transport sector. </p>
    <p style="color: blue;">This transport sector outlook reveals the following insights:

<li style="color: blue;">With economic development, an exponential increase in four-wheelers will drive the future growth of passenger transport. In the next three decades, we estimate four-wheeler ownership to grow by nine times whereas ownership of two-wheelers will saturate with rising income levels.</li>
<li style="color: blue;">The shift to four-wheelers will significantly impact the transport sector’s energy demand and emissions. However, the falling cost of electric vehicles could lead to their faster adoption if the necessary support infrastructure is developed in parallel. Electric vehicles reduce direct emissions from the transport sector and shift emissions to the electricity generation sector where they can be reduced cost effectively. In addition, they are highly energy efficient. If the central and state governments commit to developing electric charging infrastructure rapidly, electric cars could account for 30 per cent of sales in 2030 and 75 per cent of sales in 2050.</li>
<li style="color: blue;">The rapid growth of private passenger vehicles implies that the share of public transport will continue to decline, a matter of concern for policymakers. This will also have implications for congestion and transport infrastructure development.</li></p>

<h2 align = "center">Co2 Emission of a car per Km</h2>

<table align="center">
  <tr>
    <th >Mode of Transport</th> 
    <th>CO2 Emission per Km</th>
  </tr>
  <tr>
    <td>Medium Petrol-Powered Car</td>
    <td>192 CO2e per km</td>
  </tr>
  <tr>
    <td>Medium Diesel-Powered Car</td>
    <td>171 CO2e per km</td>
  </tr>
  <tr>
    <td>Medium Motorcycle</td>
    <td>103 CO2e per km</td>
  </tr>
  <tr>
    <td>2-Passenger Petrol Car</td>
    <td>96 CO2e per km</td>
  </tr>
</table>
</body>
</html>