<!DOCTYPE html>
<html>
<head>
	<title>Book Your Ride</title>
</head>
<style >
	body {
  background-color: pink;
 
}
.header {
  background-color: rgba(255, 0, 0, 0.3);
  padding: 10px;
  text-align: center;
  text-decoration-color: ;
  font-size: 16px;
}
.button {
  background-color:#008CBA;
font-size: 12px;
  padding: 15px 32px;
border-radius: 12px;
 display: inline-block;
}
p{text-align: center;
 font-size: 14;
font-style: italic;
}
</style>

<body>
<form method="post">
<header class="header"><h1> DIYA RIDE SHARING</h1></header>
<h1  align = "center" style= "background-color:DodgerBlue;"><p>Right Choice for the Travellers </p></h1>
<div align="center">
 
<h3>Confirmation Message </h3>
<h3>Pick Up Location : {{result}}</h3>
<h3>Drop Location :  {{d}}</h3>
<h3>Message : {{pred}}</h3>
<h3>Message : {{predic}}</h3>
<Label> Date and Time : {{datetime}}<br><br>
</div>


</form>
</body>
</html>